.normal-widht {
  width: 1100px;
}
.backgroundcolor-header {
  background-color: #224e73;
}
.color-nav {
  color: white;
}
.for-block2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 64px;
}
.for-block2__h2 {
  opacity: 0.6;
  text-transform: capitalize;
  padding: 18px 10px 28px 18px;
}
.for-block2__card {
  border: none;
}
.for-block2__a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 40px;
  font-weight: bold;
  opacity: 0.6;
  color: black;
}
.navbar .center-block-main .Logo-Header {
  margin: 0 0 0 40px;
}
.navbar .center-block-main .Logo-Header img,
.navbar .center-block-main .Logo-Header p {
  float: left;
}
.navbar .center-block-main .Logo-Header p {
  margin: 27px 0 0 8px;
  color: white;
  opacity: 0.7;
}
.navbar .center-block-main .header-main {
  padding: 12px 0 0 160px;
  opacity: 0.7;
}
.navbar .center-block-main .header-main .menu {
  margin-left: 300px;
}
.navbar .center-block-main .header-main nav ul li {
  float: left;
  list-style: none;
}
.navbar .center-block-main .header-main nav ul li a {
  color: white;
  text-decoration: none;
  padding-left: 40px;
}
.navbar .center-block-main .header-main nav ul li a:hover {
  color: orange;
}
.block3 {
  display: inline-flex;
}
.block3 aside {
  background-color: #224e73;
  padding: 67px 45px 63px 52px;
}
.block3 aside h2,
.block3 aside a {
  color: white;
  opacity: 0.7;
}
.block3 aside p {
  text-transform: capitalize;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}
.block3 aside h2 {
  padding-bottom: 30px;
  font-size: 30px;
}
.block3 aside a {
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 4px;
}
.block2 {
  padding: 63px 40px 30px 40px;
}
.block2 .Title-block4-line {
  font-weight: bold;
  font-size: 20px;
  opacity: 0.6;
  padding: 0 0 22px 52px;
}
.block2 .Title-block4-line span {
  padding-right: 5px;
}
.block2 .for-block2 .card .card-body a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}
.main-button-blue {
  background-color: #224e73;
  border-color: #224e73;
  margin: 0 0 58px 577px;
  padding: 20px 89px;
  text-transform: uppercase;
}
.main-button-blue:hover {
  background-color: #133b5d;
}
.main-button-blue:active {
  background-color: #133b5d;
  box-shadow: none;
}
.main-button-blue:visited {
  border: none;
}
.main-button-blue:focus {
  box-shadow: none;
}
.block5-container {
  display: flex;
  background-color: #f1f3f2;
}
.block5-container__description {
  padding: 34px 67px 20px 47px;
  opacity: 0.6;
}
.block5-container__description h4 {
  font-weight: bold;
}
.block5-container__description_italic {
  font-style: italic;
}
.block5-container__description a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}
.Title-block6-line {
  font-weight: bold;
  font-size: 20px;
  opacity: 0.6;
  padding: 66px 0 0px 520px;
}
.Title-block6-line span {
  padding-right: 5px;
}
.block6-container {
  display: flex;
  justify-content: center;
}
.block6-container__description {
  padding: 20px 0 0 60px;
}
.block6-container__description_block6 {
  display: flex;
  align-content: space-around;
}
.block6-container__description_block6_right {
  opacity: 0.6;
  padding: 0 0 37px 10px;
}
.block6-container__description_block6_right h5 {
  text-transform: capitalize;
}
.block6-container__description_block6_right a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}
.block6-container img {
  height: 83px;
  width: 126px;
}
.block7-container {
  display: flex;
  justify-content: space-around;
  margin: 0 0 50px 220px;
}
.block7-container__button img {
  width: 350px;
  height: 110px;
  position: relative;
}
.block7-container__button a {
  position: absolute;
  margin: -60px 0 0 130px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 4px solid orange;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
}
.footer-container {
  background-color: #224e73;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 86px 0 86px 0px;
}
.footer-container__Logo p {
  opacity: 0.6;
}
.footer-container__Contacts p {
  opacity: 0.6;
}
.footer-container__Links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container__Links_menu li {
  list-style: none;
}
.footer-container__Links_menu li a {
  color: white;
  opacity: 0.6;
}
.footer-container__Social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container__Social_links {
  list-style: none;
}
.footer-container__Social_links a {
  color: white;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */