/*.blue-div{*/
    /*background-color: blue;*/
/*}*/
/*.red-dev{*/
    /*background-color: red;*/
/*}*/
/*.stripes{*/
    /*border-collapse: collapse;*/
    /*width: 100%;*/
/*}*/
.container{
    display: inline-block;
}
.parent{
    border: 1px solid grey;
    margin: 4px;
}
#div1{
    margin: 0 auto;
    text-align: center;
}